h1 {
  text-align: center;
  color: #5f084b;
}

h3 {
  padding-left: 15px;
  color: #5f084b;
}

h4 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul#navbar {
  display: inline;
}

.attendeeSignupBuckets {
  padding: 0 0 50px 0;
}

.centered{
  margin: 0 auto;
  text-align: center;
}

.col{
  margin-top: 5px;
  margin-bottom: 5px;
}

.homePageDivWhite {
  padding-top: 50px;
  padding-bottom: 50px;
}

.nav-link{
  color: #5f084b;
  font-size: 18pt;
}

#deleteSponsorBucket {
  margin-top: 40px;
  padding: 5px;
  border-style: dashed;
  border-color: red;
}

#homePageDivGrey {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e1e1d0;
}

#homePageToggleNav {
  margin-top: 30px;
}
